@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: #EDE9E8;
    font-family: 'Poppins';
}
.container
{
    margin-top: 50px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.card
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card .item
{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 30px;
    cursor: pointer;
}
.description
{
    margin-left: 5px;
}
img
{
    width: 325px;
    height: 50%;
}
h1{
    text-align: start;
}
button
{
    border: none;
    background: #fb8500;
    border-radius: 8px;
    width: 300px;
    height: 30px;
    margin-top: 5px;
    cursor: pointer;
}